/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
	box-sizing: border-box;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.container .header {
	/* width: 100%; */
	/*background-color: white;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	padding-bottom: 30px;
}


/*.container .header header {
	background-color: white;
	display: flex;
	flex-direction: column;
}*/

/* Parent to our nav */
.container .header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container .header nav a {
	padding: 18px;
	color: rgb(141, 141, 141);
	text-decoration: none;
}

.container .header nav img {
	margin-left: 95px;
}

.container .header header nav p {
	line-height: 19px;
}

/*
.header header nav a .current {
	color: rgb(70, 167, 70);
}
*/

.container .header-image {
	width: 100%;
	padding-bottom: 10px;
}

/* Section 1 portion */
section {
	width: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

section .boxes {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Digital box */
section .boxes .digital {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .digital p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .digital button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

section .boxes .digital .start {
	justify-content: flex-start;
}

/* ux-ui box */
section .boxes .ux-ui {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .ux-ui p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .ux-ui button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

/* marketing box */
section .boxes .marketing {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .marketing p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .marketing button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

/* webdev box */

section .boxes .webdev {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .webdev p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .webdev button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

/* ios box*/
section .boxes .ios {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .ios p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .ios button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

/*android*/
section .boxes .android {
	padding: 20px;
	border: 1px solid black;
	background-color: #F0F0F0;
	width: 460px;
	margin-bottom: 30px;
}

section .boxes .android p {
	line-height: 20px;
	padding-bottom: 20px;
}

section .boxes .android button {
	padding: 5px 25px 5px 25px;
	background-color: white;
	border: 1px solid black;
}

/* footer */

.footer {
	display: flex;
	flex-direction: column;
}

footer .footer {
	border: 1px solid red;
	width: 460px;
	padding: 50px 0 0 0;
	line-height: 19px;
	margin-bottom: 10px;
}

footer .footer p {
	padding-bottom: 10px;
	justify-content: center;
}

footer .footer ul li {
	padding: 5px;
}

footer .footer .footer-image img {
	justify-content: flex-end;
}

footer .footer-image {
	justify-content: space-between;
}